<!-- DOCUMENTACIÓN: https://angular.io/api/router/RouterLinkActive -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-3 m-1 fijar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="isLogin"lass="nav-item">
            <a class="nav-link" routerLink="/stand_alone" routerLinkActive="active">Stand Alone</a>
          </li>
          <li *ngIf="isLogin"lass="nav-item">
            <a class="nav-link" routerLink="/pipes" routerLinkActive="['active']">Pipes</a>
          </li>
          <li *ngIf="isLogin"lass="nav-item">
            <a class="nav-link" routerLink="/forms" routerLinkActive="active">Forms</a>
          </li>
          <li *ngIf="isLogin"lass="nav-item">
            <a class="nav-link" routerLink="/guards" routerLinkActive="active">Guards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="auth" routerLinkActive="active">auth</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()">logOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
