<div class="contenedor">
    <div class="cuerpo-custom">
        <div class="columna-uno">
            <button class="btn btn-primary" routerLink="uno">
                Page one
            </button>

            <button class="btn btn-primary" routerLink="dos">
                Page one
            </button>
            
            <button class="btn btn-primary" routerLink="tres">
                Page one
            </button>
        </div>
        <div class="columna-dos">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
