<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2">

    <a
        class="navbar-brand"
        to="/"
    >
        Asociaciones
    </a>

    <div class="navbar-collapse">
        <div class="navbar-nav">

            <a
                class="nav-link"
                routerLink="marvel"
                routerLinkActive="['active']"
            >
                Marvel
            </a>

            <a
                class="nav-link"
                routerLink="dc"
                routerLinkActive="['active']"
            >
                DC
            </a>
            <a
                class="nav-link"
                routerLink=""
                routerLinkActive="['active']"
            >
                Search
            </a>
            <a
                class="nav-link"
            >
                Hero
            </a>
        </div>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 d-flex justify-content-end">
        <ul class="navbar-nav ml-auto">
            <span class="nav-item nav-a text-primary mr-5">
                Test
            </span>
            <button
                class="nav-item nav-link btn"
                (click)="onLogOut()"
            >
                Logout
            </button> 
        </ul>
    </div>
</nav>