<div class="col">
    <div class="card">
        <div class="row no-gutters">

            <div class="col-4">
                <img src="{{url}}" class="card-img" alt="{{heroe.superhero}}" />
            </div>

            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">{{ heroe.superhero || ''}}</h5>
                    <p class="card-text">{{ heroe.alter_ego || '' }}</p>
                    <p *ngIf="heroe.characters !== heroe.alter_ego">{{heroe.characters}}</p>
                    <a [routerLink]="['/heroes/heores_intranet/main/heroe', heroe.id]" > Mas info..</a>
                </div>
            </div>

        </div>

    </div>
</div>
